.corpo {
    background-color:rgba(32, 77, 32, 0.616);
}

.titulo{
    font-size: 50px;color:white;background: rgb(0, 0, 0);text-align: center;
}
.texto-imc{
    font-size: 50px;
    text-align: center;
}